<!-- approved why section main -->
<div class="w-full h-auto">
  <div class="w-full h-auto flex flex-col items-start justify-center px-4 py-6">
    {% if section.settings.main_title != blank and section.settings.main_subheading != blank %}
      <div class="w-full h-auto flex flex-col items-start justify-center gap-y-4">
        <h1 class="text-[32px] leading-[36px] font-semibold">{{ section.settings.main_title }}</h1>
        <h2 class="text-[20px] leading-[26px] italic">{{ section.settings.main_subheading }}</h2>
      </div>
    {% endif %}
    {% if section.settings.paragraph != blank %}
      <div class="w-full h-auto flex flex-col items-start justify-center gap-y-6">
        {% for block in section.blocks %}
          {% if block.type == "block_text" %}
            {% if block.settings.paragraph_text != blank %}
              <p class="text-[14px] leading-[20px]">{{ block.settings.paragraph_text | newline_to_br }}</p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "approved_why_main",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "label": "Main title"
      }, {
        "type": "text",
        "id": "main_subheading",
        "label": "Main Subheading title"
      }
    ],
    "blocks": [
        {
            "name": "block_text",
            "type": "block_text",
            "settings": [
                {
                    "type": "textarea",
                    "id": "paragraph_text",
                    "label": "Pargraph text"
                }
            ]
        }
    ]
  }
{% endschema %}