<!--articles list home page -->
<div class="wrapper-articles-list w-full h-auto flex flex-col gap-y-4 items-start justify-center">
    <!-- loop on each available article -->
     {% assign allBlogs = "News, Events" |  split: "," %}
     {% for handle in allBlogs %}
        {% for article in blogs[handle].articles %}
            <p>{{ article.title }}</p>
        {% endfor %}
     {% endfor %}
</div>
