<!--tab filter blog section-->
<div class="tab-blog-filter-section w-full h-auto flex flex-row items-center justify-start mb-7">
    <div class="tab-blog-content flex-1 h-auto flex items-center justify-center relative p-2 cursor-pointer"
        id="events-tab">
        <p class="body-14">Events</p>
        <div
            class="tab-events-rect absolute left-1/2 bottom-0 -translate-x-1/2 -translate-y-1/2 w-[16px] h-[1px] bg-black transition-transform duration-300 ease-in-out">
        </div>
    </div>
    <div class="tab-content flex-1 h-auto flex items-center justify-center relative p-2 cursor-pointer" id="news-tab">
        <p class="body-14">News</p>
        <div
            class="tab-news-rect absolute left-1/2 bottom-0 -translate-x-1/2 -translate-y-1/2 w-[16px] h-[1px] bg-black hidden transition-transform duration-300 ease-in-out">
        </div>
    </div>
</div>