<!--blog chips sections-->
<div class="chips-horizontal-container w-full flex gap-x-2 overflow-auto py-4">
    {% for collection in collections %}
    <div class="chips-label flex items-center space-x-2">
        <div class="chips-text text-nowrap body-14" id="collection-chips-title">{{ collection.title }}</div>
        {% render 'arrow-down' %}
    </div>
    {% endfor %}
    <div class="chips-label flex items-center space-x-2">
        <div class="chips-text text-nowrap body-14" id="collection-chips-title">View All</div>
        {% render 'arrow-down' %}
    </div>
</div>