<!-- Simple Box Image + Text Section -->
<div class="w-full h-auto flex flex-col gap-y-6 pb-14 md:px-12 lg:px-20 lg:pb-[60px]">

  {% for block in section.blocks %}
  <div class="w-full h-auto flex items-start justify-center flex-col">
    <!-- Card Image -->
    <img 
      src="{{ block.settings.box_image | img_url: '720x' }}" 
      alt="" 
      class="w-full object-cover object-center {% if block.settings.large_image %}h-[340px] min-h-[340px] md:h-[394px]{% else %}h-[240px] min-h-[240px] md:h-[394px]{% endif %} lg:h-[540px]">
    
    <!-- Card Content -->
    <div class="w-full h-auto flex items-start justify-center p-6 flex-col gap-y-4 md:px-0 md:py-6">
      {% if block.settings.show_large_heading %}
      <p class="{% if block.settings.large_heading %}text-[40px] leading-[46px]{% else %}text-[24px] leading-[30px] md:text-[40px] md:leading-[46px] {% endif %}  tt-norms-pro-med">
        {{ block.settings.box_heading }}
      </p>
      {% endif %}
      <p class="body-16 lg:text-[18px] lg:leading-[24px]">{{ block.settings.box_text }}</p>
    </div>
    
    <!-- Card Box CTA -->
    {% if block.settings.show_cta %}
    <div class="w-full h-auto px-6">
      <a href="" class="w-full h-auto lg:flex lg:items-center lg:justify-center lg:mt-[60px]">
        <div class="w-full h-[48px] min-h-[48px] cta-choco lg:w-[220px]">
          <p class="body-16 lg:text-[18px] lg:leading-[24px] tt-norms-pro-reg">{{ block.settings.cta_text }}</p>
        </div>
      </a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Simple Box Image Text",
  "settings": [],
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "type": "image_picker",
          "id": "box_image",
          "label": "Box Image"
        },
        {
          "type": "text",
          "id": "box_heading",
          "label": "Heading Text",
          "default": "Default heading"
        },
        {
          "type": "textarea",
          "id": "box_text",
          "label": "Body Text",
          "default": "Default body text"
        },
        {
          "type": "checkbox",
          "id": "large_image",
          "label": "Use larger image height (340px)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "large_heading",
          "label": "Use larger heading font size (40px)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_large_heading",
          "label": "Show Heading",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_cta",
          "label": "Show CTA",
          "default": false
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text",
          "default": "Click here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple Box Image Text",
      "category": "Custom Sections"
    }
  ]
}


{% endschema %}