<!-- explore section home page -->
<div class="w-full h-auto flex flex-col items-center justify-center">

  <!-- explore gallery wrapper -->
  <div class="w-full h-auto overflow-x-hidden mb-10 relative">
    <div class="w-auto h-auto flex flex-row gap-x-1 overflow-x-auto snap-x snap-mandatory scroll-snap-type-x">
      <!-- assign variables -->
      {% assign explore_images = "explore_image_one,explore_image_two,explore_image_three,explore_image_four" | split:
      "," %}
      {% assign total_images = explore_images.size %}

      {% for explore_image in explore_images %}
      {% assign explore_image_url = section.settings[explore_image] | img_url: 'master' %}
      {% if explore_image_url %}
      <!-- container explore section image -->
      <div
        class="w-[352px] min-w-[352px] h-[352px] max-h-[352px] relative transition-all duration-200 ease-linear lg:min-w-0 lg:flex-1 lg:hover:grow-[3] snap-start"
        id="{{ explore_image }}">
        <img class="w-full h-full object-cover object-center" src="{{ explore_image_url }}"
          alt="{{ explore_image.alt }}">
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>
</div>



{% comment %}
Section Schema Settings here;
{% endcomment %}
{% schema %}
{
"name": "Oriz-scroll",
"settings": [

{
"type": "image_picker",
"id": "explore_image_one",
"label": "Explore image"
},
{
"type": "image_picker",
"id": "explore_image_two",
"label": "Explore image"
},
{
"type": "image_picker",
"id": "explore_image_three",
"label": "Explore image"
},
{
"type": "image_picker",
"id": "explore_image_four",
"label": "Explore image"
}
]
}
{% endschema %}