<!-- collab section home page -->
<div class="collab-scroll w-full h-auto flex flex-row items-center justify-start overflow-x-auto space-x-2 p-4 mb-[40px]  lg:p-6 lg:overflow-x-hidden">
    {% assign collab_images = "collab_image_1,collab_image_2," | split: "," %}
    {% for collab_image in collab_images %}
        {% assign collab_image_url = section.settings[collab_image] |  img_url: 'master' %}
        {% if collab_image_url %}
          {% if collab_image[0] %}
            <div class="collab-container px-10 lg:px-[100px] lg:flex-1 lg:h-[400px]">
              <img
                src="{{ collab_image_url }}"
                class="w-full h-full object-contain lg:h-[30px] lg:object-contain"
                alt="{{ collab_image.alt }}"
              >
            </div>
            {% else %}
            <div class="collab-container lg:flex-1 px-10 lg:h-[400px] lg:px-[100px]">
              <img
                src="{{ collab_image_url }}"
                class="w-full h-full object-contain lg:h-[90px] lg:object-contain"
                alt="{{ collab_image.alt }}"
              >
            </div>
          {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% schema %}
  {
    "name": "collab",
    "settings": [
      {
        "type": "image_picker",
        "id": "collab_image_1",
        "label": "Collab Image 1",
        "info": "Choose the collab Image"
      }, {
        "type": "image_picker",
        "id": "collab_image_2",
        "label": "Collab Image 2",
        "info": "Choose the collab Image"
      }
    ]
  }
{% endschema %}