<!--falconer x paldo collab section -->
<div class="falconeri-container w-full h-auto flex flex-col items-start justify-center gap-y-4 p-4 mb-10 lg:gap-y-6">
  <div class="falconeri container-heading">
    <p class="body-16-medium lg:header-2">{{ section.settings.section_heading }}</p>
  </div>
  <div class="falconeri-container-images w-full h-auto flex flex-col gap-y-0 rounded-lg lg:flex-row">
    {% assign sectionImages = "image_one,image_two,image_three" | split: "," %}
    {% for sectionImage in sectionImages %}
      {% assign image = section.settings[sectionImage] %}
      {% if image %}
        <div class="container-image w-full h-auto  flex flex-1">
          <img
            class="w-full h-auto min-h-[120px] object-cover object-center lg:h-[549px]
            {% if forloop.first %} rounded-t-[10px] {% endif %}
            {% if forloop.last %} rounded-b-[10px] {% endif %}"
            src="{{ image | img_url: 'master' }}"
            alt="{{ image.alt }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="falconeri-container-content">
    <p class="body-12 text-[var(--hover-color)]">{{ section.settings.section_content }}</p>
  </div>
</div>


{% schema %}
  {
    "name": "falconeri-x-pardo",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "default": "Falconeri X Pardo Yachts",
        "label": "Falconeri X Pardo Heading"
      },
      {
        "type": "textarea",
        "id": "section_content",
        "default": "Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.",
        "label": "Falconeri X Pardo Content"
      },
      {
        "type": "image_picker",
        "id": "image_one",
        "label": "Falconeri X Pardo Image one"
      },
      {
        "type": "image_picker",
        "id": "image_two",
        "label": "Falconeri X Pardo Image two"
      }, {
        "type": "image_picker",
        "id": "image_three",
        "label": "Falconeri X Pardo Image three"
      }
    ],
    "presets": [
      {
        "name": "Default Falconeri X Pardo Section",
        "category": "Custom Sections",
        "settings": {
          "section_heading": "Falconeri X Pardo Yachts Collaboration",
          "section_content": "An exclusive partnership with Pardo Yachts, blending luxury fashion and premium craftsmanship on the sea.",
          "image_one": "shopify:\/\/shop_images\/Rectangle_597.png",
          "image_two": "shopify:\/\/shop_images\/Rectangle_597.png",
          "image_three": "shopify:\/\/shop_images\/Rectangle_597.png"
        }
      }
    ]
  }
{% endschema %}