<!-- hero wrapper section -->
<div class="hero-wrapper w-full h-lvh relative">
  <div class="wrapper-slider w-full h-full absolute overflow-x-hidden left-0 top-0 right-0 z-0">

    <!-- swiper slider start here -->
    <div class="swiper mySwiper w-full h-full relative">

      <div class="swiper-wrapper">
        <!-- assign swiper images -->
        {% assign swiper_images = "swiper_image_1,swiper_image_2,swiper_image_3," | split: "," %}
        {% for swiper_image in swiper_images %}
          {% assign image_url = section.settings[swiper_image] | img_url: "master" %}
            {% if image_url %}
            <!-- swiper slide -->
            <div class="swiper-slide relative">
              <img
                src="{{ image_url }}"
                alt="{{ swiper_image.alt }}"
                class="swiper-img w-full h-full object-cover block">
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- container swiper bullets -->
      <div class="container-swiper-pagination w-full h-auto absolute left-0 right-0 bottom-6 z-10 flex items-start justify-center lg:left-6 lg:top-[150px] lg:flex lg:flex-col lg:gap-y-6 lg:items-center lg:justify-center">
        <!-- container bullets -->
        <div class="w-auto h-auto">
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    loop: true
  });
</script>

<!-- Swiper Custom Style -->
<style>
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--secondary-text-color) !important;
  }
</style>

{% comment %} 
  Section Schema Settings here; 
{% endcomment %}
{% schema %}
  {
    "name": "hero-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "swiper_image_1",
        "label": "Swiper Image 1",
        "info": "Choose the Swiper Image"
      }, {
        "type": "image_picker",
        "id": "swiper_image_2",
        "label": "Swiper Image 2",
        "info": "Choose the Swiper Image"
      }, {
        "type": "image_picker",
        "id": "swiper_image_3",
        "label": "Swiper Image 3",
        "info": "Choose the Swiper Image"
      }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "Custom Sections",
        "settings": {
          "swiper_image_1": "shopify://shop_images/swiper_1.jpg",
          "swiper_image_2": "shopify://shop_images/swiper_2.jpg",
          "swiper_image_3": "shopify://shop_images/swiper_3.jpg"
        }
      }
    ]
  }
{% endschema %}