<!--infinity banner strip section-->
<div class="w-full h-auto overflow-x-hidden">
    <div class="w-auto h-auto flex flex-row items-center justify-start gap-x-8 overflow-x-auto">

        <!--container block strip text & elipse-->
        <div class="w-auto min-w-[438px] h-auto min-h-[55px] flex flex-row items-center justify-center gap-x-8">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class="w-auto min-w-[438px] h-auto min-h-[55px] flex flex-row items-center justify-center gap-x-8">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class="w-auto min-w-[438px] h-auto min-h-[55px] flex flex-row items-center justify-center gap-x-8">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

    </div>
</div>