<!--infinity banner strip section-->
<div class="w-full h-auto overflow-x-hidden mb-10 lg:mb-0 lg:py-10">
    <div class=" h-auto flex flex-row items-center justify-center gap-x-8 banner">

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center gap-x-8 lg:gap-x-16 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>
        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>

        <!--container block strip text & elipse-->
        <div class=" w-[240px] h-auto min-h-[55px] flex flex-row items-center justify-center lg:gap-x-16  gap-x-8 lg:w-[420px] lg:h-[92px]">
            {% render 'pardo' %}
            <div class="w-2 h-full flex items-center justify-center">
                <!--svg elips icon-->
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                    <circle cx="4" cy="4.31006" r="4" fill="black" />
                </svg>
            </div>
        </div>
    </div>
</div>


<script>
    gsap.registerPlugin(ScrollTrigger);

    const container = document.querySelector('.banner');

    // Aggiungi un easing più morbido e dinamico
    gsap.to(container, {
        x: () => {
            // La distanza varia in base alla posizione dello scroll
            return (container.scrollWidth - window.innerWidth) * 0.2;  // Adatta il moltiplicatore (0.5) per la velocità
        },
        ease: "linear",  // Aggiunge un easing per fluidità
        scrollTrigger: {
            trigger: container,
            start: "top bottom",  // Inizia l'animazione quando la parte superiore della sezione entra nel viewport
            end: "bottom top",    // Termina l'animazione quando la parte inferiore della sezione esce dal viewport
            scrub: 0.7,           // Riduce la latenza e rende il movimento più fluido
        }
    });
</script>


