<div class="navbar w-full h-auto fixed z-50 left-0 top-0 right-0 bg-transparent flex items-center justify-between px-4 py-4 transition-colors duration-300 ease-in-out">
   <div class="menu-yachts-label transition-colors duration-300 ease-in-out">
    <p class="body-small">Yachts</p>
   </div>
   <div class="menu-logo-container w-[93px] h-[23px] flex-shrink-0">
      <div class="pardo-logo w-full h-full">
          <img id="pardo-logo" class="object-contain w-full h-full" src="https://cdn.shopify.com/s/files/1/0841/6572/2445/files/pardo-logo-white.png?v=1724337625" alt="pardo-logo">
      </div>
   </div>
   <div class="menu-icon w-auto h-auto text-white transition-colors duration-300 ease-in-out">
      {% render 'menu-icon' %}
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', () => {
      const navbar = document.querySelector('.navbar');
      const menuIcon = document.querySelector('.menu-icon');
      const menuChip = document.querySelector('.menu-yachts-label');
      const logo = document.getElementById('pardo-logo');

      const styleElement = document.createElement('style');
      styleElement.innerHTML = `
        .toBlack {
          color: #000;
          border-color: #000;
        }
        .navbar.toBlack {
          background-color: white;
        }
      `;
      document.head.appendChild(styleElement);

      window.addEventListener('scroll', () => {
         if (window.scrollY > 100) {
            navbar.classList.add('toBlack');
            menuIcon.classList.add('toBlack');
            menuChip.classList.add('toBlack');
            logo.src = 'https://cdn.shopify.com/s/files/1/0841/6572/2445/files/pardo-black.png?v=1724339311';
         } else {
            navbar.classList.remove('toBlack');
            menuIcon.classList.remove('toBlack');
            menuChip.classList.remove('toBlack');
            logo.src = 'https://cdn.shopify.com/s/files/1/0841/6572/2445/files/pardo-logo-white.png?v=1724337625';
         }
      });
   });
</script>
