<!-- oriz scroll down section text -->
<div class="w-full h-auto flex flex-col items-start justify-center px-6 pt-12 pb-6 gap-y-6 lg:px-20 lg:pt-[60px] lg:pb-20">
  <!-- main title -->
  <p class="text-[30px] leading-[30px] tt-norms-pro-med">{{ section.settings.main_title | default: "DiscoverWalkaround" }}</p>
  <!-- paragraph here -->
  <p class="body-14">{{ section.settings.paragraph_text | default: "Dorem ipsum dolor sit amet, consectetur adipiscing
        elit. Etiam eu turpis molestie, dictum est a, mattis tellus.

        Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac
        rhoncus nisl, eu tempor urna." }}</p>
</div>

{% schema %}
  {
    "name": "Scroll Dow Text Section",
    "settings": [
      {
        "type": "text",
        "id": "main_title",
        "label": "Main Title",
        "default": "DiscoverWalkaround"
      }, {
        "type": "textarea",
        "id": "paragraph_text",
        "label": "Paragraph Text",
        "default": "Dorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.\n\nPraesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna."
      }
    ]
  }

{% endschema %}