<!-- our values top page section -->
<div class="w-full h-auto flex flex-col gap-y-12 items-start justify-center px-6 pb-10">

  <!-- container hedings -->
  <div class="w-full h-auto flex flex-col items-center justify-center">
    <h2 class="header-2 text-center">{{ section.settings.section_heading | default: "More than 50 years of experience" }}</h2>
  </div>


  <!-- container image -->
  <div class="w-full h-[480px] min-h-[480px] rounded-2xl relative">
      <!-- image -->
    <img
      src="{{ section.settings.section_image | img_url: 'master' }}"
      alt="{{ section.settings.section_image.alt }}"
      class="w-full h-full object-cover object-center rounded-2xl">
    <!-- paragraph attached to the image -->
    <div class="w-auto h-auto absolute left-6 top-6 right-6 z-10">
      <p class="text-[32px] leading-[38px] text-white">{{ section.setting.section_text | default: "Italian craftmanship at its finest." }}</p>
    </div>
    <!-- overlay bg -->
    <div class="w-full h-full absolute inset-0 z-0 rounded-2xl" style=" background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.20) 0%,
      rgba(0, 0, 0, 0.20) 100%
    )">
</div>

  </div>

</div>


{% comment %}
  Section Schema Settings here;
{% endcomment %}
{% schema %}
  {
    "name": "our-values",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "default": "More than 50 years of experience",
        "label": "Section Heading"
      }, {
        "type": "textarea",
        "id": "section_text",
        "default": "Italian craftmanship at its finest.",
        "label": "Section Text"
      }, {
        "type": "image_picker",
        "id": "section_image",
        "label": "Section Image"
      }
    ]
  }
{% endschema %}