<div class="page-title-container w-full h-auto flex items-center justify-center p-4 mt-[70px] mb-10 relative">
    <div class="container-back-arrow absolute left-[16px] top-[16px] w-auto h-auto">
        <a href="javascript:history.back()">
            {% render 'back-arrow-icon' %}
        </a>
    </div>
    <h1 class="body-14-medium">{{ page.title }}</h1>
</div>
