<!-- page loading section -->
<div class="loading-wrapper w-full h-dvh fixed inset-0 z-[99999] transition-all linear duration-300"
    style="background: linear-gradient(180deg, #393332 0%, #A9A09E 100%);;">
    <div class="loading-wrapper-container w-full h-full flex items-center justify-center">

        <!--container logo-->
        <div class="container-loading-logo w-[102px] h-[40px]">

            <div class="main-logo w-full h-full relative flex flex-row items-start justify-center">

                <!--pa svg-->
                <div class="pa-svg w-auto h-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10">
                    {% render 'pa-svg' %}
                </div>
                <!--rdo svg-->
                <div
                    class="rdo-svg w-auto h-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-0 opacity-0">
                    {% render 'rdo-svg' %}
                </div>

                <!--yatch svg-->
                <div
                    class="yatch-svg w-auto h-auto absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-0 opacity-0">
                    {% render 'yatch-svg' %}
                </div>
            </div>


        </div>


    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get elements
        const paLogo = document.querySelector('.pa-svg');
        const rdoLogo = document.querySelector('.rdo-svg');
        const yatchLogo = document.querySelector('.yatch-svg');
        const loadingWrap = document.querySelector('.loading-wrapper');

        const tl = gsap.timeline({delay: 0.5});

        tl.to(paLogo, {left: 0, xPercent: 0, duration: 1}, 0)
            .fromTo(rdoLogo, {opacity: 0}, {opacity: 1, right: 0, xPercent: -15,duration: 1}, 0)
            .to(yatchLogo, {y: 15, opacity: 1, yPercent: 0, duration: 1}, 1)
            .to(loadingWrap, {
                opacity: 0,
                duration: 0.2,
                onUpdate: () => {
                    paLogo.style.opacity = 0;
                    rdoLogo.style.opacity = 0;
                    yatchLogo.style.opacity = 0;
                },
                onComplete: () => {
                    setTimeout(() => {
                        loadingWrap.style.display = "none";
                    }, 500)
                }
            }, 2);
    });

</script>