<!--privacy bottom page-->
<div class="w-full h-auto flex flex-col items-start justify-center px-6 mb-8 md:px-12 lg:mb-28 lg:items-center lg:px-20">
    <div
        class="w-full h-auto flex flex-col gap-y-6 items-start justify-center lg:flex-col lg:items-start lg:justify-center">
        <!--text underline-->
        <p class="text-[14px] leading-[20px] underline">{{ section.settings.underline_text}}</p>
        <p class="text-[14px] leading-[20px]">{{ section.settings.updates_info }}</p>
    </div>
</div>

{% schema %}
{
"name": "page-bottom-privacy",
"settings": [
{
"type": "text",
"id": "underline_text",
"label": "privacy alert"
},
{
"type": "text",
"id": "updates_info",
"label": "last update info"
}
]
}
{% endschema %}