<!--access to metaobjects values-->
{% for metafield in product.metafields %}
    <p>{{ metafield }}</p>
{% endfor %}


<div class="features-container w-full h-auto flex flex-col gap-y-4">
    <div class="featuers-container-heading w-full h-auto flex items-center justify-start">
        <p class="body-16-medium">{{  }}</p>
    </div>
</div>