<div class="special-collab-container w-full h-auto flex flex-col gap-y-4 items-start justify-center p-4 mb-10">
    <div class="collab-container-heading">
        <p class="body-16-medium">{{ section.settings.collab_heading }}</p>
    </div>
    <div class="collab-container-cards w-full h-auto flex flex-row  flex-wrap items-start justify-between">
        {% for block in section.blocks %}
        {% if block.type == "collab-card" %}
        <div class="collab-card w-1/2 max-w-[164px] flex flex-col gap-y-2 items-start justify-center">
            <img src="{{ block.settings.collab_card_image |  img_url: 'master' }}" alt="card image"
                class="w-full h-auto min-h-[189px] object-cover rounded-lg">
            <p class="body-12 text-[var(--hover-color)]">{{ block.settings.collab_card_title }}</p>
            <p class="body-12">{{ block.settings.collab_card_content }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% schema %}
{
"name": "collab-section",
"max_blocks": 4,
"blocks": [
{
"name": "collab-card-block",
"type": "collab-card",
"settings": [
{
"type": "image_picker",
"id": "collab_card_image",
"label": "Collab Card Image"
}, {
"type": "text",
"id": "collab_card_title",
"label": "Collab Card Title",
"default": "Down Vest Jacket"
}, {
"type": "textarea",
"id": "collab_card_content",
"label": "Collab Card Content",
"default": "Reversible sleeveless down jacket in technical fabric and ultralight cashmere."
}
]
}
],
"settings": [
{
"type": "text",
"id": "collab_heading",
"default": "Special collaboration",
"label": "Collab Heading"
}
],
"presets": [
{
"name": "collab-section",
"category": "Custom",
"blocks": [
{
"type": "collab-card",
"settings": {
"collab_card_image": "shopify:\/\/shop_images\/Rectangle_600_1.png",
"collab_card_title": "Default Jacket",
"collab_card_content": "This is the default description for the reversible jacket."
}
},
{
"type": "collab-card",
"settings": {
"collab_card_image": "shopify:\/\/shop_images\/Rectangle_600_1.png",
"collab_card_title": "Another Jacket",
"collab_card_content": "This is another default description for a second jacket."
}
}
]
}
]
}

{% endschema %}