<!--top product details component-->
<div class="product-details-component w-full h-auto p-4 flex flex-col gap-y-2">
    <div class="product-detaiils-component-main w-full h-auto flex flex-col gap-y-2 items-start justify-start">
        <p class="body-16-medium">{{ product.title }}</p>
        <p class="body-12">{{ product.description }}</p>
    </div>
    <div class="product-details-magnetic-scroll w-full h-auto flex flex-row items-center justify-start gap-x-3 overflow-x-auto">
        {% assign productMetafieldsValues = 'top_speed,lenght,dry_weight' |  split: ',' %}
        {% for productMetafieldsValue in productMetafieldsValues %}
            {% assign metafieldCustom = product.metafields.custom[productMetafieldsValue].value %}
            <div class="product-details-badge flex w-[127px] h-auto p-4 flex-col items-center gap-y-1 rounded-xl border border-[var(--secondary-background-color)] flex-shrink-0">
                <p class="body-14">{{ metafieldCustom }}</p>
                <p class="body-12 text-[var(--hover-color)]">{{ productMetafieldsValue |  replace: '_', ' ' |  upcase  }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="product-details-cta w-full h-auto flex flex-col items-center justify-start gap-y-3 mt-5">
        <div class="cta-delear">
            <p class="body-14-medium">Locate dealer</p>
            {% render 'cta-icon' %}
        </div>
        <div class="cta-brochure">
            <p class="body-14-medium">Download brochure</p>
            {% render 'download-icon' %}
        </div>
    </div>
</div>